:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 
}

img{
  width: 100px;
  height: auto;
}

li{
  list-style-type: none;
}
input, button{
  font-size: 50px;
}

body {
background-image: radial-gradient(93.75% 105.88% at 0.39% 99.26%, rgb(42 39 39 / 88%) 1.42%, rgb(44 126 138 / 59%) 53.8%, rgb(4 4 4 / 13%) 100%), linear-gradient(50.24deg, rgb(129 125 125 / 32%) 14.75%, rgb(19 71 24 / 20%) 100%), url("../img/playstation-abstracto_1920x1080_xtrafondos.com.jpg");
  margin: auto;
  display: flex;
  place-items: center;
  max-width: 1300px;
  min-height: 100vh;
  background-color: #242424;
  padding: 10px;
}

 #root{
  width: 100%;
} 

main{
  padding: 1rem;
}